table {
    border-spacing: 0px;
    border-collapse: collapse;
}
td {
    vertical-align: top;
}

#sub-total {
    border-top: solid #000 1px;
}

#total-due {
    border-bottom: solid #000 1px;
}

th {
    background-color: #eeeeee;
    color: navy;
    border: solid #000 1px;
}

.data {
    border-left: solid #000 1px;
    border-right: solid #000 1px;
}

.r {
    text-align: right;
}

.center{
    text-align: center;
}

.q{
    font-weight: bold;

}

.font{
    font-size: x-large;
    padding-left: 25%;
}

.space{
    margin-top: 20px;
}

.c{
    padding-left: 20px;
    padding-right: 20px;
}

.d{
    padding-left: 70px ;
}

.e{
    padding-left: 100px;
    padding-right: 100px;
}

.f{
    padding-bottom: 5px;
}

.gap{
    padding-right: 235px;
}

.gap2{
    padding-right: 1800px;
}

.floatLeft {width :35%; float: left;}
.floatRight {width :65%; float: right;}
.container {overflow:hidden;}

.center2{
    width: 40%;
}

